USE [master]
GO
/****** Object:  Database [sevDB]    Script Date: 11/4/2022 8:40:47 PM ******/
CREATE DATABASE [sevDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sevDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sevDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sevDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sevDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sevDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sevDB]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 11/4/2022 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nchar](50) NULL,
	[TEACHER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 11/4/2022 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nchar](50) NULL,
	[LASTNAME] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS_COURSES]    Script Date: 11/4/2022 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS_COURSES](
	[STUDENT_ID] [int] NULL,
	[COURSE_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERS]    Script Date: 11/4/2022 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nchar](50) NULL,
	[LASTNAME] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_COURSES_DESCRIPTION]    Script Date: 11/4/2022 8:40:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_COURSES_DESCRIPTION] ON [dbo].[COURSES]
(
	[DESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_STUDENTS_LASTNAME]    Script Date: 11/4/2022 8:40:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_STUDENTS_LASTNAME] ON [dbo].[STUDENTS]
(
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TEACHERS_LASTNAME]    Script Date: 11/4/2022 8:40:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_TEACHERS_LASTNAME] ON [dbo].[TEACHERS]
(
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_To] FOREIGN KEY([TEACHER_ID])
REFERENCES [dbo].[TEACHERS] ([Id])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_To]
GO
ALTER TABLE [dbo].[STUDENTS_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_COURSES] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENTS] ([Id])
GO
ALTER TABLE [dbo].[STUDENTS_COURSES] CHECK CONSTRAINT [FK_STUDENTS_COURSES]
GO
ALTER TABLE [dbo].[STUDENTS_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_COURSES_To] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([Id])
GO
ALTER TABLE [dbo].[STUDENTS_COURSES] CHECK CONSTRAINT [FK_STUDENTS_COURSES_To]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [CK_COURSES_DESCRIPTION] CHECK  ((len([DESCRIPTION])>=(2)))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [CK_COURSES_DESCRIPTION]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(3)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_FIRSTNAME]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_LASTNAME] CHECK  ((len([LASTNAME])>=(3)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_LASTNAME]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [CK_TEACHERS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(3)))
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [CK_TEACHERS_FIRSTNAME]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [CK_TEACHERS_LASTNAME] CHECK  ((len([LASTNAME])>=(3)))
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [CK_TEACHERS_LASTNAME]
GO
USE [master]
GO
