@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
 <div style="background: #808080">
        <h1 class="display-4">Welcome to SEV</h1>
        </div>
        </div>
<div class="container">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div style="background: #32abde">
             <a href="https://en.sev.org.gr/who-we-are"><img src="~/css/sev_building.jpg" alt="Sev-Grid1" class="card-img-top"></a>
                <div class="card-body">
                    <h5 class="card-title text-white">Who we are</h5>
                    <p class="card-text text-white" >
                       SEV – Hellenic Federation of Enterprises has consistently fostered business development in Greece since 1907.
                       It is the independent voice of businesses, representing a broad spectrum of the country’s economic activity.
                    </p>
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div style="background: #32abde">
                    <a href="https://en.sev.org.gr/sev-business-priorities/"><img src="~/css/sev_conference.png" alt="Sev-Grid2"
                        class="card-img-top"></a>
                <div class="card-body">
                    <h5 class="card-title text-white">What we do</h5>
                    <p class="card-text text-white">
                We envision Greece as the dynamic center of the European region, with solid institutions and an attractive economic
                and social environment for investments. We promote sustainable private sector led growth and job creation.
                    </p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div style="background: #32abde">
          <a href="https://en.sev.org.gr/why-join-us"><img src="~/css/sev_skills4jobs.jpg" alt="Sev-Grid3" class="card-img-top"></a>
                <div class="card-body">
                    <h5 class="card-title text-white">Why join us</h5>
                    <p class="card-text text-white">
                        SEV corporate membership gives members the opportunity to gain access to a wide range of business services including tax,
                        legal, export and HR advice as well as B2B networking opportunities to grow their business. 
                    </p>
                </div>
            </div>
        </div>
    </div> 
</div>
</div>

