@page
@model SevStudentCoursesApp.Pages.StudentCourses.UpdateModel
@{
    ViewData["Title"] = "Student Course Update";
}

<h2>New Student Course</h2>
@if (!Model.errorMessage.Equals(""))
{
        <h2><strong>@Model.errorMessage</strong></h2>
}

<form method="POST">
    <div class="row mb-3">
        <label for="student_id" class="col-md-1 col-form-label">Κωδικός Μαθητή</label>
        <div>
            <input type="number" class="form-control"
                   name="student_id" id="student_id" placeholder="Enter Student Id"
                   value="@Model.studentcourseDto.StudentId" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="course_id" class="col-md-1 col-form-label">Κωδικός Μαθήματος</label>
        <div>
            <input type="number" class="form-control"
                   name="course_id" id="course_id" placeholder="Enter Course Id"
                   value="@Model.studentcourseDto.CourseId" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-md-1 col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="offset-md-1 col-md-3 d-grid">
            <a href="/" role="button" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>
